<% include header %>
	<div id="tools">
		Hi, <%= user.first %>!&nbsp;&nbsp;<span class="red">|</span>&nbsp;&nbsp;<a href="/logout">Logout</a>
	</div>
	<h1>Dashboard: <%= band.name %></h1>
	<p class="bold">Welcome <span class="darkRed"><%= user.first %>!</span> Add some songs below.</p>

	<form id="addSong" method="POST" action="/addSong">
		<input type="text" name="song" id="song" value="Song Name Here..." />
	</form>

	<h2>Songs</h2>
	<ul id="songs">
	<% for(var i=0; i<list.length; i++) {%>
	   <li id="item-<%= i %>"><%= list[i].value.title %> <a class="delete" href="#item-<%= i %>" rel="<%= list[i].value._rev %>" id="<%= list[i].value._id %>" data-song="<%= list[i].value.title %>">Delete</a></li>
	<% } %>
	</ul>

	<script>
	$(function(){
		$('#song').click(function(){
			$(this).val('');
			$(this).css('color', '#000');
		});

		$('#song').blur(function(){
			 $(this).val('Song Name Here...').css('color', '#777');
		});
		
		$('#addSong').submit(function(e){
			e.preventDefault();
		
			var songTitle = $('#song').val();

		    socket.emit('newSong', { message: songTitle, user: <%= user.user_id %>, band: <%= user.band_id %> }); 

		    $('#song').val('');

		});

		var socket = io.connect(location.hostname, location.port);
	    
	    // User Logs in
	    socket.on('news', function (data){
		    $().toastmessage('showNoticeToast', data.notification);
	  	});

	    // Song added
	  	socket.on('success', function (data){
	  		var counter = $('#songs li').length;
	  		$().toastmessage('showSuccessToast', data.info.message + ' was added!');
	  		$('ul#songs').append( $('<li id="item-'+counter+'">'+ data.info.message +' <a class="delete" href="#item-'+counter+'" rel="'+data.response.rev+'" id="'+data.response.id+'" data-song="'+ data.info.message +'">Delete</a></li>') );
	  	});

	  	// Failure Notice
	  	socket.on('failure', function (data){
	  		$().toastmessage('showErrorToast', data.message);
	  	});

	  	// Removed Song
	  	socket.on('deleteSuccess', function(data){
	  		$(data.jquery).slideUp(500, function(){
	  			$(this).remove();
	  		});
	  		$().toastmessage('showSuccessToast', data.song + ' was deleted');
	  	});

	  	$(document).on('click', '.delete', function(e){
	  		e.preventDefault();
	  		
	  		var songId = $(this).attr('id');
	  		var revId = $(this).attr('rel');
	  		var which = $(this).attr('data-song');
	  		var j = $(this).attr('href');

	  		socket.emit('delete', {rev: revId, id: songId, song: which, jquery: j});
	  		
	  	});

	});
	</script>

<% include footer %>